@for $s from 4 through 40 {
  .fs-#{$s * 2} {
    font-size: $s * 2px;
  }
}
@for $b from 4 through 40 {
  .fb-#{$b * 2} {
    font-size: $b * 2px;
    font-weight: bold;
  }
}

:root {
  /* color */
  --green-color1: #2d5654;
  --green-color2: #1f875c;
  --green-color3: #367b65;
  --orange-color1: #e64614;
  --orange-color2: #feefda;
  --orange-color3: #ff9f1c;
}
