:root {
  /* color */
  --green-color1: #2d5654;
  --green-color2: #1f875c;
  --green-color3: #41a24a;
  --orange-color1: #e64614;
  --orange-color2: #feefda;
  --orange-color3: #ff9f1c;
}
.text-green {
  color: var(--green-color1);
}
.text-orange {
  color: var(--orange-color1);
}
.bg-orange1 {
  background-color: var(--orange-color1);
}
.bg-orange2 {
  background-color: var(--orange-color2);
}
.bg-orange3 {
  background-color: var(--orange-color3);
}
// @import url(@/assets/font/Lemon-Regular.ttf);
