:root {
  /* color */
  --green-color1: #2d5654;
  --green-color2: #1f875c;
  --orange-color1: #e64614;
  --orange-color2: #feefda;
  --orange-color3: #ff9f1c;
  --orange-color4: #af350e;
}
.text-green {
  color: var(--green-color1);
}
.text-orange {
  color: var(--orange-color1);
}
.bg-orange1 {
  background-color: var(--orange-color1);
}
.bg-orange2 {
  background-color: var(--orange-color2);
}
.bg-orange3 {
  background-color: var(--orange-color3);
}
.bg-green {
  background-color: var(--green-color2);
}

a {
  text-decoration: none;
}
.button-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@font-face {
  font-family: "Lemon"; //重命名字体名
  src: url("../font/Lemon-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}
